<div class="new_publicacao">
   <%= form_for(@publicacao, url: publicacoes_path(@publicacao)) do |p| %>
 	<%= p.text_area :conteudo %>
	<%= p.submit "Submit Query", class: "btn btn-primary" %>
   <% end %>
</div>

<ol>
  <% @publicacoes.each do |p| %>
    <li><%= link_to p, "#{publicacoes_path}/#{p.id}" %></li>
  <% end %>
</ol>

<%= will_paginate %>
